* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 14.5% 1rem;
  max-width: 1920px;
  background: url("scissors.svg") 1.3% 9%/23% auto no-repeat;
}

h1 {
  text-align: center;
  color: #3e4555;
  font: 700 2.25rem "Playfair Display", serif;
}

p {
  color: #8d97ad;
  line-height: 1.625rem;
  font: 1rem Lato, sans-serif;
}

.intro-panel {
  margin-top: 9.25rem;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap-reverse;
  justify-content: space-around;
}

.intro-text {
  max-width: 41.76rem;
  min-width: 19rem;
  flex-shrink: 1;
}

.large-print {
  margin-top: 4.375rem;
  color: #3e4555;
  line-height: 2.375rem;
  font: 400 1.6875rem "Playfair Display", serif;
}

.header-image {
    align-self: flex-end;
    position: relative;
    max-width:67%;
    margin-right: 6.927%;
}

.header-image > img {
    max-width:100%;
    border-radius: 2%;
    box-shadow:-0.5rem 1rem 1.5rem #ccc;
}


.header-image::after {
  content: "";
  top: -22.05%;
  left: 25.82%;
  z-index: -1;
  position: absolute;
  width: 107%;
  height: 112.33%;
  background: url("swirl.png") 0 0/contain no-repeat;
} 

article {
    background:#f5f7fa;
    padding-top: 4.625rem;
    margin-top: 13.75rem;
    text-align: center;
}

article > .donate-header {
    margin-bottom: 6.1875rem;
}

div.steps {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:2rem;
}

div.step {
    width:20%;
    min-width: 7.5rem;
    
}

div.step > strong {
    display: flex;
    margin:0 auto;
    width: 5.5625rem;
    height: 5.5625rem;
    border-radius: 50%;
    background:white;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0.5rem 1rem #ccc;
    margin-bottom: 2rem;

}

div.step > strong > b {
    color: #e2536b;
    font: bold 2.25rem/5.5625rem Lato, sans-serif;
}

article > h2 {
    color:#3e4555;
    text-align: center;
    margin:8.5rem 0 5.875rem;
    font: 27px "Playfair Display", serif;
}

div.pledges {
  display: flex;
  justify-content: space-evenly;
  flex-wrap:wrap;
  gap: 1rem;
}

article button  {
  width: 17.375rem;
  height: 5.5rem;
  border-radius:0.25rem;
  color: #e2536b;
  background: #29af8a;
  border:0.25rem solid #e2536b;
  font:bold 2.5rem Lato, sans-serif;
}

article button:hover {
  color: white;
  cursor: pointer;
  border-color: #29af8a;
}

p.gift-notice {
  margin: 7.3125rem 0 4.6875rem;
  text-align: center;
}

button.pledges-submit {
  width: 10rem;
  height:2.875rem;
  font-size: 0.875rem;
  text-transform: uppercase;
}

.gallery {
  padding:0 0.5rem;
  text-align: center;
  height: 25rem;
}

.gallery > span {
  width:2.5rem;
  vertical-align: middle;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  cursor: pointer;
}

.gallery > span::before {
   content:'';
   display:block;
   height:1.5rem;
   width:1.5rem;
   border-radius:10%;
   border:0.35rem solid#8d97ad;
   border-width: 0.35rem 0.35rem 0 0;
}

.gallery > span:hover::before {
  border-color: #29af8a;
}

.gallery > span:first-of-type::before {
  transform: rotate(-135deg);
}

.gallery > span:last-of-type::before {
  transform: rotate(45deg);
}

.slides {
  vertical-align: middle;
  display: inline-flex;
  max-width:calc(100% - 6rem);
  width:70%;
  min-width: 18rem;
  flex-wrap:wrap;
  justify-content: space-around;
  overflow-y: hidden;
  height: 100%;
}

.slides > div {
  position: relative;
  font-size: 0;
}

.slides > div::after {
  content:'';
  position: absolute;
  bottom:0;
  left:0;
  height:60%;
  width:100%;
  background: linear-gradient(to bottom, transparent 0%, rgba(0,0,0,0.9) 100%);
}

.slides > div > div {
  left:0;
  bottom:0;
  width:100%;
  z-index: 1;
  position: absolute;
}


.slides > div > div > h3 {
  color: white;
  text-align: center;
  text-decoration: underline;
  font:400 27px "Playfair Display",serif;
}

.slides > div > div > p {
  color: white;
  margin: 1.375rem 2rem 3.625rem;
}

.gallery img {
  width:18rem;
  height: auto;
}



@media screen and (max-width: 780px) {
  html {
    font-size:80%;
  }
}

/* @media screen and (max-width: 400px) {
  html {
    font-size:60%;
  }
} */